@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif, "Times New Roman", Times, serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  margin: auto;
  background-color: #e5e5e5;
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  justify-content: space-between;
  gap: 50px;
  list-style: none;
  text-decoration: none;
}

.header {
  width: 1440px;
  height: 916px;
  left: 0;
  top: 1px;
  background: #fff;
  border-bottom-left-radius: 40px;
}

.Toolbar-container {
  position: absolute;
  width: 1440px;
  height: 72px;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-around;
}

#Uc {
  padding: 0 0 0 87px;
}

#Portfolio {
  margin: 0 0 0 0;
}

#Contact {
  margin: 0 69px 0 0;
}

.Right {
  width: 920px;
  display: flex;
  justify-content: end;
  padding: 0 0 0 26px;
  gap: 20px;
}

.container {
  width: 1397.4px;
  height: 721.46px;
  left: 34.6px;
  top: 119px;
  bottom: 80px;
  background-image: url("images/Deskbg.png");
  background-repeat: repeat-x;
  background-position: cover;
  visibility: visible;
  background-size: 1450px;
  display: flex;
  align-items: center;
}

.Text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  position: absolute;
  width: 920px;
  height: 268px;
  left: 260px;
}

.container p {
  width: 920px;
  height: 98px;

  /* Body / 1 */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

.Text h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

#Socials {
  width: 170.17px;
  height: 20px;
  margin: 350px 0 0 238px;
}

.Social-media-icons {
  display: flex;
  margin: 24px;
  gap: 24px;
}

.Works {
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: grid;
  gap: 50px;
  place-items: center;
}

.Works-card {
  height: 496px;
  width: 1156px;
  left: 0;
  top: 0;
  border-radius: 24px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
}

.Snap-1 {
  float: left;
  margin: 24px 24px 24px 24px;
}

.Snap-2 {
  float: right;
  margin: 24px 24px 24px 24px;
}

.Block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  width: 544px;
  height: 445px;
  left: 590px;
  top: 24px;
}

#Multi {
  width: 496px;
  height: 46px;

  /* Header / 2 */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */


  /* Theme 1 / Neutrals 1 */

  color: #091e42;
}

#Facebook {
  width: 496px;
  height: 46px;

  /* Header / 2 */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */


  /* Theme 1 / Neutrals 1 */

  color: #091e42;
}

#Uber {
  width: 496px;
  height: 46px;

  /* Header / 2 */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */


  /* Theme 1 / Neutrals 1 */

  color: #091e42;
}

#Tonic {
  width: 496px;
  height: 46px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Back-end {
  display: inline-flex;
  order: 0;
  flex-grow: 0;
  margin: 0 0 0 0;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.de {
  padding: 0 16px 2px 10px;
}

.dev {
  padding: 0 98px 0 0;
}

.Block p {
  width: 496px;
  height: 50px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
}

.Tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 114px;
  height: 34px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}

.Tags li {
  width: 29px;
  height: 16px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  float: right;
}

.Tags a {
  color: #6070ff;
}

#html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#javascript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.Click {
  width: 295px;
  height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.button-1 {
  width: 100px;
  height: 35px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background-color: white;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  cursor: pointer;
}

.About-myself {
  width: 100%;
  height: 924px;
  top: 4535px;
  border-top-right-radius: 50px;
  background: #fff;
}

.About-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  width: 447px;
  height: 392px;
  right: 42px;
  top: 3253px;
  margin: 0 0 -300px 0;
  padding: 82px 0 0 145px;
}

.About-me h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #091e42;
}

.About-me p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */


  /* Neutrals/N600 */

  color: #344563;
}

.About-me h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */


  /* Primary/B300 */

  color: #7f8cff;
}

.About-me .Socials {
  margin: 0 0 0 -24px;
}

.form-button {
  width: 105px;
  height: 35px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background-color: white;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-left: 24px;
  cursor: pointer;
  margin: 0 0 0 6px;
}

.Skills {
  padding: 0;
  width: 684px;
  top: 3253px;
  float: right;
}

.Skill-list li {
  display: flex;
  width: 500px;
  flex-direction: row;
}
