@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif, "Times New Roman", Times, serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  margin: auto;
  background-color: #e5e5e5;
  display: grid;
  place-items: center;
  width: 375px;
  justify-content: space-between;
  gap: 50px;
  list-style: none;
  text-decoration: none;
}
.header {
  width: 375px;
  height: 718px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}
.Toolbar-container {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 375px;
  height: 48px;
}
.Toolbar-container a {
  width: 76px;
  height: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  align-items: center;
  text-align: center;
  margin-left: 24px;
  color: #6070ff;
}
.Toolbar-container img {
  float: right;
  margin-right: 36px;
  margin-top: 5px;
}
.container {
  width: 375px;
  height: 718px;
  left: 0px;
  border-radius: 10px;
  padding-bottom: 20px;
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  visibility: visible;
}

h1 {
  margin-top: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 0 24px;
  font-family: "Poppins", sans-serif, "Times New Roman", Times, serif;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 0 24px;
  margin-top: 12px;
}

h3 {
  width: 150px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 20px;
}

.Socials {
  width: 170.17px;
  height: 20px;
}

.Social-media-icons {
  display: flex;
  margin: 24px;
  gap: 24px;
}
.Works {
  display: grid;
  gap: 50px;
  place-items: center;
}

.Works-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 327px;
  height: 552px;
}
.Works-card h4 {
  width: 295px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.Block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 295px;
  height: 288px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.Back-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
#Canopy {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Block P {
  width: 295px;
  height: 76px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: -22px;
}

.Tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 114px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
  position: relative;
}

.Tags li {
  width: 29px;
  height: 16px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 2;
  flex-grow: 0;
  float: right;
}
.Tags a {
  color: #6070ff;
}

#html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#css {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#javascript {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
.Action {
  width: 295px;
  height: 72px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  flex: none;
  order: 3;
  flex-grow: 0;
}
.button-1 {
  width: 100px;
  height: 35px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background-color: white;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  cursor: pointer;
}
.About-myself {
  width: 375px;
  height: 1100px;
  left: 375px;
  top: 4769px;
  border-top-right-radius: 50px;
  background: #ffffff;
}

.About-myself h2 {
  width: 327px;
  height: 101px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-left: 24px;
  padding-top: 114px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.button-2 {
  width: 105px;
  height: 35px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background-color: white;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-left: 24px;
  cursor: pointer;
}
.Skills {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 24px;
  width: 327px;
  height: 464.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.Skill-list {
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}

#JAVASCRIPT {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 20px;
  content: "text";
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #253858;
}

#HTML {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  padding: 10px;
  order: 0;
  flex-grow: 0;
  margin-top: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

#CSS {
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #253858;
}

#Pointer-1 {
  padding-left: 150px;
}

#Pointer-2 {
  padding-left: 147px;
}

#Pointer-3 {
  padding-left: 220px;
}

.Contact-me {
  width: 375px;
  left: 0px;
  background-color: #396df2;
  border-radius: 10px;
  padding-bottom: 20px;
  background-image: url("images/background.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  margin-top: -80px;
  visibility: visible;
  background-size: 357px;
  border-top-left-radius: 50px;
}
.Contact-me h3 {
  width: 801px;
  height: 56px;
  left: -213px;
  top: 4734px;
  margin-top: 80px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.Contact-me p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

.Details {
  height: 38px;
  width: 316px;
  border-radius: 8px;
  border: #dfe1e6;
  margin-left: 24px;
  margin-bottom: 18px;
}

#Details {
  height: 170px;
  width: 316px;
  border-radius: 8px;
  border: #dfe1e6;
  margin-left: 24px;
}

.button-3 {
  width: 105px;
  height: 35px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  background-color: white;
  color: #396df2;
  flex: none;
  order: 0;
  flex-grow: 0;
  border: 1px solid #6070ff;
  border-radius: 8px;
  margin-left: 24px;
  cursor: pointer;
}
::placeholder {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-indent: 14px;
  position: absolute;
  margin-top: 10px;
}
