@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: auto;
  background-color: #e5e5e5;
  display: grid;
  place-items: center;
  width: 375px;
  justify-content: space-between;
  gap: 50px;
}

.hero {
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
  background: #fff;
  border-bottom-left-radius: 40px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 58px 24px;
  text-decoration: none;
  color: #6070ff;
  width: 375px;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  background-color: rgb(124, 118, 83);
  transform: scale(1.5);
}

.logo {
  color: #6070ff;
  width: 76px;
  height: 20px;
  font-size: 18px;
  font-family: "Poppins", sans-serif, 'Times New Roman', Times, serif;
}

.container {
  height: 600px;
  width: 100%;
  border-radius: 10px;
  padding-bottom: 20px;
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: repeat-x;
  background-size: cover;
  background-position: 0 0;
  visibility: visible;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding: 0 24px;
  font-family: "Poppins", sans-serif, 'Times New Roman', Times, serif;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 0 24px;
  margin-top: 12px;
}

h3 {
  width: 150px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 20px;
}

ul {
  margin: 10px;
  list-style: none;
  display: flex;
}

li {
  margin-right: 10px;
}

li:hover {
  background-color: blue;
}

.cards-1 {
  padding: 16px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  left: 0;
  top: 0;
}

.cards-2 {
  padding: 16px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  left: 0;
  top: 0;
}

.snap {
  width: 295px;
  height: 220px;
  background: url(blog_drbl_4x.png);
  border-radius: 8px;
}

.cards-1 .title {
  font-family: 'Poppins''Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 44px;
  color: #344563;
}

.cards-2 .title {
  font-family: 'Poppins''Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #344563;
}

.back-end li {
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 450;
  font-size: 10px;
  line-height: 16px;
  margin-left: -14px;
  padding: 6px;
}

.cards-1 .des {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin-left: -24px;
}

.cards-2 .des {
  width: 295px;
  height: 76px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  margin-left: -24px;
}

.code {
  font-family: "Poppins", sans-serif, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  text-align: center;
  margin-left: -3px;
}

.code li {
  border-radius: 5px;
}

#htm {
  background-color: #ebebff;
  width: 50px;
  align-content: center;
}

#cs {
  background-color: #ebebff;
  width: 40px;
  align-content: center;
}

#js {
  background-color: #ebebff;
  width: 90px;
  align-content: center;
}

.box p {
  color: #6070ff;
  font-size: smaller;
  display: inline;
  width: 40%;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.box {
  border: 1px solid #396df2;
  border-radius: 5px;
  background-color: white;
  height: 40px;
  margin-top: 20px;
}

article {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 375px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 40px;
  border-top-right-radius: 70px;
}

.about h2 {
  width: 327px;
  height: 101px;
  font-family: "Poppins", sans-serif, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-left: 20px;
}

.about p {
  width: 327px;
  height: 144px;
  font-family: "Poppins", sans-serif, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#con {
  width: 150px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: -110px;
}

.socials {
  list-style: none;
  display: flex;
  margin-left: -120px;
  margin-top: -20px;
}

#resume {
  color: #6070ff;
  margin-left: -140px;
  margin-top: -20px;
}

.language li {
  border-radius: 5px;
}

#css {
  background-color: #ebebff;
  align-content: center;
}

#jss {
  background-color: #ebebff;
  align-content: center;
}

#html {
  background-color: #ebebff;
  align-content: center;
}

#fra {
  height: 24px;
  left: 12px;
  right: 78px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  padding-left: 30px;
}

#sk {
  height: 24px;
  left: 12px;
  right: 78px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  padding-left: 30px;
  padding-top: 30px;
  display: inline-flex;
}

.contact-me {
  padding: 16px;
  gap: 16px;
  width: 327px;
  height: 552px;
  background: #6070ff;
  border: 1px solid #dfe1e6;
  border-top-left-radius: 70px;
  margin-bottom: 40px;
  background-image: url("images/contact\ form\ shapes-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: right;
  display: block;
}

.contact-me h2 {
  font-family: "Poppins", sans-serif, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  color: white;
  padding-top: 70px;
}

#name {
  width: 290px;
  height: 30px;
  border-radius: 6px;
  border: #fff;
}

#email {
  width: 290px;
  height: 30px;
  border-radius: 6px;
  border: #fff;
}

#text-area {
  width: 290px;
  height: 170px;
  border-radius: 6px;
  border: #fff;
}

#submit {
  border-radius: 6px;
  border: white;
  color: #6070ff;
  height: 40px;
  width: 100px;
}

.fa-angle-right {
  padding-left: 200px;
}

.fs {
  display: inline;
  width: 100px;
  padding-left: -20px;
}

.fa-angle-down {
  padding-left: 130px;
}

#la {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 24px;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  display: inline-flex;
  padding-left: 30px;
}

.box :hover {
  transform: scale(1.5);
  cursor: pointer;
}

.pics img {
  width: 303px;
  left: 12px;
  border-radius: 8px;
  padding-left: 30px;
}

hr {
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dfe1e6;
  width: 327px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 40px;
}
